@import '../variables/variables.scss';
@import '../svg-variables/svgVariables.scss';

.boxSize__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 16px;
}

.boxSize__container_2000x1100x4050 {
  @include boxSize(42px, 42px, $XXS, no-repeat);
}

.boxSize__container_2000x1600x4050 {
  @include boxSize(70px, 64px, $XS, no-repeat);
}

.boxSize__container_3800x1100x4050 {
  @include boxSize(80px, 60px, $S, no-repeat);
}

.boxSize__container_2000x2090x4050 {
  @include boxSize(60px, 70px, $M, no-repeat);
}

.boxSize__container_3800x1600x4050 {
  @include boxSize(100px, 80px, $L, no-repeat);
}

.boxSize__container_3800x2090x4050 {
  @include boxSize(110px, 90px, $XL, no-repeat);
}

.boxSize__container_6450x2100x4050 {
  @include boxSize(130px, 110px, $XXL, no-repeat);
}

.boxSize__container_6450x3650x4050 {
  @include boxSize(170px, 140px, $XXXL, no-repeat);
}

.boxSize__container_sizes {
  margin-top: 20px;
  align-self: start;
  margin-right: 15%;
  .boxSize__container_size {
    @include fontsMixin($blueColor, $fontFamily, 700, 20px);
  }

  .boxSize__container_sizeNumbers {
    padding-top: 5px;
    @include fontsMixin($blackColor, $fontFamily, 500, 14px);
  }
}

@media (max-width: 1024px) {
  .boxSize__container_sizes {
    margin-top: 10px;
    margin-right: 5px;
    align-self: start;
  }
}
