@import '../variables/variables.scss';

.main__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .main__container {
    display: flex;
    flex-direction: column;
  }
}

.main__container_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $titleUpperMargin;
  .main__container_text_h1 {
    margin-bottom: 15px;
    @include fontsMixin($blackColor, $fontFamily, 600, 32px);
  }
  .main__container_text_p {
    @include fontsMixin($blackColor, $fontFamily, 500, 20px);
  }
}

.main__container_imageButton {
  margin: 4.7% 0;
  display: flex;
  justify-content: center;
  .main__container_imageButton_wrapper {
    margin: 0 30px;
  }
  .main__container_imageButton_imgPost {
    @include imgStyle(310px, url('/public/images/post.jpeg'), no-repeat);
  }
  .main__container_imageButton_imgPackage {
    @include imgStyle(310px, url('/public/images/package.jpeg'), no-repeat);
  }
  .main__container_imageButton_button {
    width: 436px;
    height: 92px;
    padding: 0 80px;
    background-color: $blueColor;
    border-radius: 0 0 21px 21px;
    @include fontsMixin($whiteColor, $fontFamily, 700, 20px);
  }
}

@media (max-width: 1000px) {
  .main__container_imageButton {
    flex-direction: column;
    align-items: center;
    .main__container_imageButton_button {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 500px) {
  .main__container_text_h1 {
    text-align: center;
  }
  .main__container_text_p {
    text-align: center;
  }

  .main__container_imageButton {
    flex-direction: column;
    align-items: center;

    .main__container_imageButton_wrapper {
      .main__container_imageButton_imgPost {
        @include imgStyle(199px, url('/public/images/post.jpeg'), no-repeat);
        background-size: contain;
      }
      .main__container_imageButton_imgPackage {
        @include imgStyle(199px, url('/public/images/package.jpeg'), no-repeat);
        background-size: contain;
      }
      .main__container_imageButton_button {
        height: 80px;
        width: 280px;
        padding: 0;
      }
    }
  }
}
