@import '../Variables/variables.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  .main__container_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8.6%;
    .main__container_text_h1 {
      margin-bottom: 15px;
      @include fontsMixin($blackColor, $fontFamily, 600, 32px);
    }
    .main__container_text_p {
      @include fontsMixin($blackColor, $fontFamily, 500, 20px);
    }
  }

  .main__container_imgBtn {
    margin: 4.7% 0;
    display: flex;
    justify-content: center;
    .main__container_imgBtn_wrapper {
      margin: 0 30px;
    }
    .main__container_imgBtn_first {
      @include imgStyle(310px, url('/public/images/post.jpeg'), no-repeat);
    }
    .main__container_imgBtn_second {
      @include imgStyle(310px, url('/public/images/package.jpeg'), no-repeat);
    }
    .main__container_imgBtn_btn {
      width: 436px;
      height: 92px;
      padding: 0 80px;
      background-color: $blueColor;
      border-radius: 0 0 21px 21px;
      @include fontsMixin($whiteColor, $fontFamily, 700, 20px);
    }
  }
}

@media (max-width: 1024px) {
  .main__container_imgBtn_btn {
    margin-bottom: 30px;
  }
  .main__container_imgBtn {
    flex-direction: column;
    align-items: center;
  }
}
