@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$titleUpperMargin: 8.6%;
$blueColor: #032edd;
$whiteColor: #ffffff;
$blackColor: #000000;
$grayColor: #57565e;

$fontFamily: 'Montserrat', sans-serif;
$fontFamilyRoboto: 'Roboto', sans-serif;

@mixin fontsMixin($c, $ff, $fw, $fs) {
  color: $c;
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
}

@mixin imgStyle($h, $bc, $nrpt) {
  height: $h;
  background-image: $bc;
  background-repeat: $nrpt;
}

@mixin uiBtn($w, $c, $bc) {
  width: $w;
  color: $c;
  background-color: $bc;
}

@mixin boxSize($h, $w, $bc, $br) {
  height: $h;
  width: $w;
  background-image: $bc;
  background-repeat: $br;
}

%borderForBoxEmpty {
  margin: 10px;
  border: 1px solid #cecece;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px #cecece;
}

%borderForBoxTaken {
  margin: 10px;
  border: 1px solid rgb(224, 148, 148);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px rgb(226, 150, 150);
}

%borderForBoxActive {
  margin: 10px;
  border: 1px solid rgb(152, 217, 152);
  border-radius: 5px;
  box-shadow: 0 0 10px 1px rgb(166, 223, 166);
}
